---
import Layout from '@/layouts/Layout.astro';
import Contatti from '@/data/contacts';
import Button from '@/components/Button.astro';

const search = Astro.url.searchParams.get('q')?.toLowerCase();
let contacts;
if (search) {
  contacts = Contatti.getAll().filter((contact) => {
    const {first:f,last:l,email:e}=contact;
    return (
      f.toLowerCase().includes(search) ||
      l.toLowerCase().includes(search) ||
      e.toLowerCase().includes(search)
    );
  });
} else {
  contacts = Contatti.getAll();
}
// console.log(contacts);
---

<Layout title="contacts">
    <h1>Contacts</h1>
    <form id="searchForm" action="/contacts">
      <label for="search"
      >Search Term
      </label
      >
      <input id="search" type="search" name="q" value={search} autofocus />
    <button>Search</button>
  </form>
  {!contacts.length && <h2>No results found</h2>
  <div class="actions">
  <Button href="/contacts">&larr; Back</Button>
  </div>
  }
  {
    contacts && contacts.length > 0 && (
      <div id="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>LastName</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {contacts.map((contact) => (
            <tr>
              <td>{contact.first}</td>
              <td>{contact.last}</td>
              <td>{contact.phone}</td>
              <td>{contact.email}</td>
              <td class="actions">
                <a href={`/contacts/${contact.id}`}>View</a>
                <a href={`/contacts/${contact.id}/edit`}>Edit</a>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
      </div>
      <div class="actions right">
      <Button href="/contacts/new">Add new contact &rarr;</Button>
      </div>
    )
  }

</Layout>


