---
import Button from '@/components/Button.astro';
import Contatti from '@/data/contacts';
import Layout from '@/layouts/Layout.astro';
const id = Number(Astro.params.id);
const contact = Contatti.get(id);
// console.log(contact);
---

<Layout title=`Contact ${id}`>
  <div id="contact-details">
    <h1>Contact Details</h1>
    <div class="contact">
      <p>Name: <span>{contact?.first}</span></p>
      <p>LastName: <span>{contact?.last}</span></p>
      <p>Phone: <span>{contact?.phone}</span></p>
      <p>Email: <span>{contact?.email}</span></p>
    </div>
    <div class="actions">
      <Button href="/contacts">&larr; Back</Button>
    </div>
  </div>
</Layout>

<style is:global></style>
